<div class="d-flex container align-items-center justify-content-center">
  <div class="card shadow-lg" style="width: 40rem">
    <h2 class="text-light text-bg-dark text-lg-center p-3">Bienvenido a su Perfil <i class="bi-person-circle"></i></h2>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" id="name" class="form-control" placeholder="Ingrese su nombre">
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Apellido</label>
          <input type="text" id="lastName" class="form-control" placeholder="Ingrese su apellido">
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Dirección</label>
          <input type="text" id="address" class="form-control" placeholder="Ingrese su dirección" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input type="email" id="email" class="form-control" placeholder="Ingrese su email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" id="password" class="form-control" placeholder="Ingrese su contraseña" required>
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Teléfono</label>
          <input type="tel" id="phone" class="form-control" placeholder="Ingrese su teléfono" required>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Guardar Cambios <i class="bi-check-circle-fill"></i> </button>
        </div>
      </form>

    </div>
  </div>


</div>


